:root{
    --color-dark: rgb(14,14,14);
    --color-dark2: rgb(32,32,32);
    --color-dark3: rgb(22,22,22);
    --color-verde-floresta:rgb(34, 139, 34);
    --color-brown:rgb(72, 60, 50);
    --color-yellow: rgb(255, 191, 0);
    --color-white: #fff;
    --color-green: rgb(103,195,80);
    --color-blue: rgb(25, 25, 112);
    --color-red: rgb(184,40,35);
    --color-red2: rgb(146,22,17);
    --purple: purple;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-yellow);
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction:column;
    gap: 4rem;

}

.content-add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task, #btn-new-task {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;

}

#input-new-task{
    width: 20rem;
    border-radius: 1rem;
}

#btn-new-task{
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}


#to-do-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;

}

#to-do-list li{
    background-color: var(--color-blue);
    padding: 20px;
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    color: var(--color-white);
}


#btn-ok{

    background-color: var(--color-red2);
    color: var(--color-white);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.8rem;
    
}

#btn-ok:hover{
    background-color: white;
    color: red;
}









