body{
    background-color: rgb(59, 59, 241);
    
}

header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    width: 600px;
    height: 600px;
    background-color: white;
    padding: 15px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
}

select#flista{
    width: 150px;
}

